@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .space-between {
    justify-content: space-between;
  }

  .green-option-1 {
    background-color: #4ddbae;
  }

  .green-option-2 {
    background-color: #f8ffff;
  }

  .gray-text {
    color: #4c4c4c;
  }

  .gray-text-2 {
    color: #989898;
  }
}
